.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 2rem;
}

.bookingsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .bookingsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .bookingsList {
    grid-template-columns: 1fr;
  }
}
